<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rushan.RushWay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RushWay"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <activity android:name="com.example.rushan.RushWay.SigninSuccess" />
        <activity android:name="com.example.rushan.RushWay.CreateAccountDriver" />
        <activity android:name="com.example.rushan.RushWay.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.rushan.RushWay.SubmitForm" /> <!-- <activity -->
        <!-- android:name=".MapPopUp" -->
        <!-- android:theme="@style/AppTheme.CustomTheme" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.example.rushan.RushWay.LeaderBoardActivity" />
        <activity android:name="com.example.rushan.RushWay.MapActivityNew"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.example.rushan.RushWay.CreateAccountActivity" />
        <activity android:name="com.example.rushan.RushWay.CreateAccount2" />
    </application>

</manifest>